.menu {
  background-color: #f2f2f2;
  border-radius: 12px;
  padding-left: 0;
  margin: 0;
  position: absolute;
  list-style: none;
}

.menu li {
  text-align: left;
  padding: 0.5rem;
  padding-left: 1.25rem;
  padding-right: 6.75rem;
  color: #000;
  cursor: pointer;
}

.menu li:hover {
  border-radius: 12px;
  background-color: #e6e6e6;
}