.menu {
  background-color: #f2f2f2;
  border-radius: 2px;
  padding-left: 0;
  margin: 0;
  position: absolute;
  list-style: none;
}

.menu li {
  padding: 0.2em 1em;
  color: #000;
  cursor: pointer;
}

.menu li:hover {
  background-color: #e6e6e6;
}